.blog-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.blog-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.blog-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
}

.blog-card:hover {
  box-shadow: 0px 0px 21px 4px rgba(34, 78, 221, 0.75);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(34, 78, 221, 0.75);
  -moz-box-shadow: 0px 0px 21px 4px rgba(34, 78, 221, 0.75);
  cursor: pointer;
}

.blog-card img {
  width: 100%;
  height: 12rem;
}

.blog-title {
  color: #fff;
  padding: 1rem 0;
}

.blog-details p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  height: 200px;
}

.blog-btns {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.blog-btns .btn {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 980px) {
  .blog-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
  .blog-card img {
    width: 100%;
    height: auto;
  }
}
