.hero-img1 {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  position: relative;
}

.hero-img1::before {
  content: "";
  background: url("../../assets//img/intro-bg.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heading1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img1 h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.hero-img1 p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.link .btn {
  padding: 1rem 5rem;
  margin: 1rem 0.2rem;
}

.link .btn:first-child {
  margin-left: 2.6rem;
}

@media screen and (max-width: 640px) {
  .hero-img1 h1 {
    font-size: 2rem;
  }

  .hero-img1 p {
    font-size: 1.4rem;
    text-align: center;
  }

  .heading1 .link {
    display: flex;
    flex-direction: column;
  }

  .link .btn {
    padding: 1rem 4rem;
    margin: 0.5rem 1rem;
  }

  .link .btn:first-child {
    margin-left: 1rem;
  }
}
