.container {
  display: flex;
  padding: 0.2rem;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

.personNeu {
  width: 40rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: white;
  opacity: 0.9;
}

.personNeu:hover {
  box-shadow: 0px 0px 5px 5px rgba(109, 109, 10, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(109, 109, 10, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(109, 109, 10, 0.75);
  cursor: pointer;
}

.personNeu .image {
  background: url(https://images.unsplash.com/photo-1540397106260-e24a507a08ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1183&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 40%;
  height: 60%;
  border-radius: 50%;
  margin-top: 50%;
  z-index: 1;
}

.personNeu .name {
  margin-top: 45px;
  text-align: center;
  font-size: 1.1rem;
}

.name > * {
  margin-top: 5px;
}

button {
  margin-top: 15px;
}

.paragraph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #111;
  height: 400px;
  color: white;
  gap: 1rem;
  padding: 1rem 1rem 1rem 2rem;
}

.paragraph h1 {
  color: rgb(248, 217, 15);
}

.paragraph h2 {
  color: rgb(255, 221, 0);
}

.paragraph p {
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .personNeu {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .personNeu .image {
    width: 100%;
    height: 100%;
  }

  .personNeu .name {
    margin-top: 30px;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
